div.ticker-wrapper {
  /*height: 2em;*/
  /*overflow-y: hidden;*/
  color: white;
  position: relative;
}

/*div.ticker-wrapper div.ticker-container {*/
/*background-color: grey;*/
/*position: absolute;*/
/*border: solid 1px black;*/
/*overflow: auto;*/
/*}*/

div.ticker-container:before, div.ticker-container:after, div.ticker-wrapper:before, div.ticker-wrapper:after {
  content: " ";
  display: table;
  clear: both;
}

div.ticker-wrapper header.ticker-header {
  background-color: purple;
  float: left;
}

div.ticker-wrapper.ticker-header-on header.ticker-header {
  white-space: nowrap;
  display: inline-block;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.ticker-wrapper.ticker-header-on fieldset.ticker-items {
  width: 80%;
}

div.ticker-wrapper.ticker-header-slide header.ticker-header {
  white-space: nowrap;
  -webkit-animation: ticker-header-slide-left linear both 1s 1s;
}

@-webkit-keyframes ticker-header-slide-left {
  from {
    display: inline-block;
    width: 20%;
  }

  to {
    width: 0;
    display: none;
  }
}

div.ticker-wrapper.ticker-header-slide fieldset.ticker-items {
  -webkit-animation: expand-left linear both 1s 1s;
}

@-webkit-keyframes expand-left {
  from {
    width: 80%;
  }

  to {
    width: 100%;
  }
}

div.ticker-wrapper header.ticker-header span {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  font-size: 21px;
  line-height: inherit;
}

div.ticker-wrapper fieldset.ticker-items {
  background-color: yellow;
  float: right;
  display: inline-block;
  overflow: hidden;
}

div.ticker-wrapper fieldset.ticker-items legend.ticker-topic {
  background-color: green;
  display: block;
  width: 100%;
  padding: 0 0 0 1em;
  margin-bottom: 0;
  /*font-size: 21px;*/
  overflow: hidden;
}

div.ticker-wrapper fieldset.ticker-items ul.ticker-list {
  padding: 0;
  margin: 0;
  background-color: cyan;
  width: 100%;
  overflow: hidden;
}

div.ticker-wrapper fieldset.ticker-items ul.ticker-list li.ticker-item {
  background-color: red;
  display: list-item;
  width: 100%;
  height: 1.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-scroller-left {
  -webkit-animation: scroll-left 3s linear;
}

@-webkit-keyframes scroll-left {
  from {
    padding-left: 100%;
  }

  to {
  }
}

.disappear-left {
  -webkit-animation-name: disappear-left-step1, disappear-left-step2;
  -webkit-animation-duration: 4s, 0;
  -webkit-animation-delay: 0, 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes disappear-left-step1 {
  from { width: inherit; } to { width: 0; }
}

@-webkit-keyframes disappear-left-step2 {
  from { height: inherit; } to { height: 0; }
}

/*.cut {*/
/*height: 0;*/
/*overflow: hidden;*/
/*}*/

